@use './variable';


// Headings
@mixin heading1 {
    font-family: $montserrat;
    font-size: 56px;
    line-height: 61.6px;
}
@mixin heading2 {
    font-family: $montserrat;
    font-size: 48px;
    line-height: 52.8px;
}
@mixin heading3 {
    font-family: $montserrat;
    font-size: 36px;
    line-height: 39.6px;
}
@mixin heading4 {
    font-family: $montserrat;
    font-size: 32px;
    line-height: 35.2px;
}
@mixin heading5 {
    font-family: $montserrat;
    font-size: 24px;
    line-height: 26.4px;
}
@mixin heading6 {
    font-family: $montserrat;
    font-size: 20px;
    line-height: 22px;
}