@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600;700&display=swap');

// Colors
$primary-color: #032E60;
$secondary-color: #F2994A;
$button-color: #0176D3;
$black: #181818;
$white: #FFFFFF;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Images
$border-radius: 16px;