@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600;700&display=swap');

// Colors
$primary-color: #032E60;
$secondary-color: #EAF5FE;
$button-color: #0176D3;
$black: #181818;
$white: #FFFFFF;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$button-font-size: 1vmin;
$body-text-font-size: 1.3vmin;
$article-title-font-size-large: 4vmin;
$article-title-font-size: 2.5vmin;
$article-sub-title-font-size: 1.75vmin;
$eyebrow-font-size: 0.8vmin;
$footer-title-font-size: 1.5vmin;
$footer-info-font-size: 0.8vmin;

// Images
$border-radius: 16px;