@import '../sass/variable';



.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        width: 7vmin;
        height: auto;
    }

    .menu {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .link {
        font-size: $nav-item-font-size;
        list-style: none;
        font-family: $opensans;
    }

    a {
        text-decoration: none;
				color: $primary-color;
    }

		@media (max-width: 768px) {
			.menu {
				width: 70vw;
			}
			.link {
				font-size: 12px;
			}
		}

		@media (max-width: 415px) {
			.link {
				font-size: 8px;
			}
		}

}