@import '../sass/variable';



.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        // width: min(50vw, 70px);
        width: 10vmin;
        height: auto;
    }

    .nav__menu {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        @media (max-width: 768px) {
            width: 70vw;
        }
    }

    .nav__link {
        font-size: 2vmin;
        list-style: none;
        font-family: $montserrat;
    }

    a {
        text-decoration: none;
    }

}